
<H1>Tem certeza que deseja remover?</H1>
<a href="[% c.uri_for_action( c.action, [  item.importancia, item.projeto_id, item.tipo_restricao_id ], { confirm => 1 } ) %]">Sim, pode remover</a>
<a href="[% c.uri_for_action( c.controller.action_for('index' ) ) %]">Não, voltar para a Listagem</a>
